@import '../../variables.scss';

#container {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border: 6px solid $yellowMain;
  border-radius: 350px;
  min-width: 700px;
  width: 700px;
  height: 700px;
  margin: 20px;
}


#bigger-container {
  display: flex;
  justify-content: center;
  background-color: $redMain;
  font-size: 100px;
  font-family: "Lobster", cursive;
}
#elem {
  background-image: url("./MuralMap-assets/MuralMap06.png");
  background-size: contain;
  position: absolute;
  width: 2500px;
  height: 1500px;
}
