#container {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border: 2px solid yellow;
    border-radius: 350px;
    width: 700px;
    height: 700px;
    margin: 20px;
    
    }
#elem{
    position: absolute;
    
    width: 2302px;
    height: 1295px;
}

.dragged{
    border: 2px solid red;
    
    
}

#bigger-container {
    display: flex;
    justify-content: center;
    background-color: #b31718;
    
    font-size: 100px;
    font-family: 'Lobster', cursive;
   
}
.map-img{
    position: absolute;
    width: 2302px;
    height: 1295px;
    
}