$redSecondary: #91141b;
$redMain: #b31718;
$yellowMain: #fdd305;
#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $yellowMain;
    background-image: linear-gradient($redSecondary,$redMain);
    font-size: 60px;
    font-family: 'Lobster', cursive;
    padding: 10px;
    
   
}
#logo-top {
    height: 70px;
    padding-right: 20px;
}